/* App.css */
.app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.products-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.main-content {
  display: flex;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.footer {
  
}